<section id="add" class="container">
  <div class="form-wrap">
    <h1>Edit Job</h1>
    
    <p>Edit job details.  Change status to "Complete" to add earnings to Piggy!</p>
    {{#each errors}}
    <div class="error">
      <p>{{text}}</p>
    </div>
    {{/each}}
    <form action="/jobs/edit/{{job.id}}" class= "job-item" method="POST">
      <div class="input-group">
        <label for="title">Job Title</label>
        <input type="text" name="title" id="title" class="input-box" maxlength="100"
          value={{job.title}}>
      </div>
      <div class="input-group">
        <label for="description">Job Description</label>
        <textarea name="description" id="description" class="input-box" placeholder="Describe the details of the job requested"
          rows="10">{{job.description}}</textarea>
      </div>
      <div class="input-group">
        <label for="budget">Budget</label>
        <input type="number" name="budget" id="budget" class="input-box"  value={{job.budget}}>
      </div>
      <div class="input-group">
        <label for="job_status">Job Status</label>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary active">
            <input type="radio" name="job_status" id="Open" value="Open"> Open
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="job_status" id="Closed" value="Closed"> Closed
          </label>
        </div>
      </div>
      <div class="input-group">
        <label for="job_owner">Job Owner</label>
        <input type="text" name="job_owner" id="job_owner" class="input-box" placeholder="Child name" maxlength="100"
          value={{job.job_owner}}>
      </div>

      <button type="submit" value="Update" class="btn btn-reverse Update">Update</button>
    </form>
  </div>
</section>